<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Correios-Api" version="1.1.1" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.6.5" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.9-dmr" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net452" />
</packages>